body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px ;
  flex-shrink: 0;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  height: 250px;
width: 200px;
  padding: 14px;
  flex-grow:  1;
}

.x-content{
  display: flex;
  flex-direction: row;
  
}

.y-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-grid{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding: 48px;
  flex-shrink: 1;
  gap: 30px;
}

ul,a{
  font-size: 24px;
  color: white;
  text-decoration: none;
  list-style: none;
}