.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 39px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding:4px 32px;
  margin: auto;
  display: flex;

}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  gap: 10px;
  padding: 0;
}

ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links ul{
  display: flex;
  margin-left: 8px;
}

.right-links ul{
  display: flex;
  margin-right: 8px;
}